@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'More Sugar';
  src: url('/fonts/MoreSugarRegular.woff2') format('woff2'),
      url('/fonts/MoreSugarRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';


@theme {
  --font-secondary: "Raleway", serif;
  --font-primary: "Open Sans", serif;
  --font--logo :'More Sugar';

  --color-brand-blue: #34328F;
  --color-brand-light-gray: #E8E8E8
  
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  p,li{
    @apply text-base leading-6
  }
}


.tiktok-embed {
  background-color: transparent !important;
  border: none !important;
}

.tiktok-embed iframe {
  background: transparent !important;
  border: none !important;
}

.tiktok-embed::before,
.tiktok-embed::after,
.tiktok-embed-background {
  display: none !important;
}

body {
  color: black;
  background: #FAF9F6;
  font-family: var(--font-primary);
}

svg {
  overflow: hidden;
}

/* Add this to the end of your globals.css file */
.link-border-animation {
  position: relative;
}

.link-border-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #34328F;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.link-border-animation:hover::before {
  transform: scaleX(1);
}