@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'More Sugar';
  src: url('/fonts/MoreSugarRegular.woff2') format('woff2'),
      url('/fonts/MoreSugarRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

@theme {
  --font-secondary: "Raleway", serif; 
  --font-primary: "Open Sans", serif;
  --font-logo: "More Sugar"; 

  --color-brand-blue: #29285D;
  --color-brand-blue-light: #51507A;
  --color-brand-blue-lighter: #787898;
  --color-brand-bg: #F0F0F0;
  --color-brand-off-white: #FAF9F6;
  --color-brand-black: black;
  --color-brand-gray: #0A0A0A;
  --color-brand-gray-light: #4E4E4E;
  --color-brand-gray-lighter: #949494;
  --color-brand-green: #01BFA7;
  --color-brand-orange: #F15B3B;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
  p, li {
    @apply text-sm leading-[22px] lg:text-base lg:leading-6;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary); 
  }
}

body {
  color: var(--color-brand-gray-light);
  background: var(--color-brand-bg);
  font-family: var(--font-primary);
}

svg {
  overflow: hidden;
}


.link-border-animation {
  position: relative;
}

.link-border-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-brand-green);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.link-border-animation:hover::before {
  transform: scaleX(1);
}

